<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="true"
>
	<targets>
		<target xsi:type="File"
				name="target1"
				fileName="${basedir}/../../../logs/logs.log"
				archiveEvery="Day"
				archiveFileName="${basedir}/../../../logs/archives/logs.{#}.txt"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd-HH-mm"
				openFileCacheTimeout="30"
				maxArchiveFiles="30"
				keepFileOpen="true"
				layout="${pad:padding=-5:fixedLength=true:inner=${level:uppercase=true}} | ${longdate} | API | ${assembly-version} | ${logger} | ${message} ${exception} | ${all-event-properties}" />

		<target xsi:type="ColoredConsole"
			  name="target2"
			  layout="${level:uppercase=true} | ${longdate} | ${assembly-version} | API | ${logger} | ${message} ${exception} | ${all-event-properties}"
			  useDefaultRowHighlightingRules="false"
			  errorStream="true"
			  enableAnsiOutput="true"
			  detectConsoleAvailable="true">
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
		</target>
	</targets>

	<rules>
		<!-- Allow only explicit logs from our app -->
		<logger name="Host.*" minlevel="Trace" writeTo="target1,target2" />
		<logger name="Application.*" minlevel="Trace" writeTo="target1,target2" />
		<logger name="Infrastructure.*" minlevel="Trace" writeTo="target1,target2" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Trace" writeTo="target1,target2" />

		<!-- Exclude framework logs -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.Hosting.Lifetime" final="true" />
	</rules>
</nlog>